.client__img{
    width: 70px;
}
.clients__content h3{
    color: rgba(65, 91, 117, 1);
    font-weight: 600;
}

@media (max-width: 577px) {
    .clients .col-sm-6{
        margin-bottom: 30px;
        
    }
    .clients .col-sm-6 >div{
        justify-content: center;
    }
}
