.header{
    background-color: rgba(0, 0, 0, .13);
    z-index: 99;
}
.header__center ul li{
    margin: 0 20px;
    font-size: 24px;
    font-weight: 500;
}
.header__center ul li a{
    text-decoration: none;
    color: #fff;
    transition: var(--main-transition);
}
.header .contactus{
    color: var(--main-color);
    font-size: 22px;
    font-weight: 400;
}
.logoimg{
    width: 150px;
}
.header__center li a:hover{
    color: var(--main-color);
}
