.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer .socials li{
    margin-left: 30px;
}
.footer .socials a{
    color: var(--main-color);
    font-size: 24px;
}
.footer .navs  li  a{
    color: #000;
    text-decoration: none;
    transition: var(--main-transition);
}
.copyright{
    font-family: 'Cairo', sans-serif !important ;
}
.footer__logo{
    display: block;
    margin: auto;
}
.footer .navs  li  a:hover{
    color: var(--main-color);
}
