.carousel-caption{
    bottom: 50% !important;
}
.carousel-indicators [data-bs-target]{
    width: 18px !important;
    height: 18px !important;
    border-radius: 50% ;
    background-color: var(--main-color) !important;
}

.carousel-inner h5{
    font-size: 50px;
}
.slider-caption{
    top: 50%;
    color: #fff;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
}

.slider .alice-carousel__prev-btn [data-area]::after, .alice-carousel__next-btn [data-area]::after{
    font-size: 50px;
}
.slider .alice-carousel__next-btn-item{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 30px;
    background: red;
    padding: 0;
    height: auto;
    margin: 0;
    color: #fff;
    background-color: var(--main-color);
    font-size: 26px;
    padding:10px 13px;
    border-radius: 5px;
}
.slider .alice-carousel__next-btn{
    padding: 0 !important;
}
.slider .alice-carousel__prev-btn-item{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 30px;
    background: red;
    padding: 0;
    height: auto;
    margin: 0;
    color: #fff;
    background-color: var(--main-color);
    font-size: 26px;
    padding:10px 13px;
    border-radius: 5px;
}
.slider .alice-carousel__prev-btn{
    padding: 0 !important;
}

.slider .alice-carousel__dots-item{
    width: 18px;
    height: 18px;
}
.slider .alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active{
    background-color: var(--main-color);
}
.silder-single-item{
    max-height: 100vh;
}
.slider .alice-carousel__dots {
    
    padding: 0;
    list-style: none;
    z-index: 99999;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}


@media (max-width: 992px){
    .phone2{
        display: none;
    }
    .services__desc .item h3{
        margin-top: 50px;
    }
}
@media (max-width: 768px) {
    .slider-caption{
        display: none;
    }
    .slider .alice-carousel__next-btn-item{
        display: none;
    }
    .slider .alice-carousel__prev-btn-item{
        display: none;
    }
    .slider .alice-carousel__next-btn{
        display: none;
    }
    .slider .alice-carousel__prev-btn{
        display: none;
    }
    h2{
        font-size: 30px !important;
    }
    .main-btn{
        font-size: 18px !important;
    }
    .item h3{
        font-size: 18px;
    }
    .service__p{
        font-size: 16px !important;
    }
    .whatsapp{
        right: 20px !important;
    }
    .contact__info p{
        font-size: 14px;
    }
    .services__desc__info{
        padding: 10px 30px;
    }
    .faq .accordion-item h2 button{
        font-size: 20px !important ;
    }
    .section-padding{
        padding: 50px 0;
    }
    .contact-content{
        top: -30px;
    }
    .contact form .d-flex{
        flex-direction: column;
        margin: 0 !important;
    }
    .contact form .d-flex input,.contact form .d-flex textarea{
        margin: 0 !important;
        margin-bottom: 20px !important;
    }
}
@media (max-width: 600px){
    .download__content{
        padding: 10px 50px !important;
    }
}

@media (max-width: 510px){
    h2,.contact-content .item h3{
        font-size: 26px !important;
    }
    .download .apps a{
        display: block;
        margin-right: 0 !important;
        text-align: center;
        margin-bottom: 20px;
    }
    input{
        font-size: 14px !important;
    }
    .footer .navs li a{
        font-size: 14px !important;
    }
    .footer__shape img{
        width: 200px;
    }
    .silder-single-item{
        height: 50vh;
    }
}